
/* 기본 스타일링 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, main {
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

main {
    width: 80%;
    margin-top: 20px;
    padding: 0 20px;
}

/* 헤더 및 메뉴 스타일링 */
header {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

#blog-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

nav a {
    margin: 0 15px;
    color: white;
}

/* 블로그 포스트 및 컨텐츠 영역 */
#blog-posts a {
    background: white;
    border: 1px solid #ddd;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

#blog-posts a:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#contents {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

